<div class="relative min-h-screen bg-[#0A0A0A]">
  <svg class="hidden">
    <filter id="noise">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.5"
        numOctaves="5"
        stitchTiles="stitch"></feTurbulence>
      <feColorMatrix
        type="matrix"
        values="
      0.33 0.33 0.33 0 0
      0.33 0.33 0.33 0 0
      0.33 0.33 0.33 0 0
      0    0    0    1 0"
      ></feColorMatrix>
    </filter>
  </svg>
  <div class="absolute inset-0 z-0 bg-black/50">
    <div
      class="absolute inset-0 bg-gradient-to-br from-transparent to-deep-teal"
    >
    </div>
    <div
      class="absolute inset-0 opacity-50"
      style={{ filter: "url(#noise)", mixBlendMode: "soft-light" }}
    >
    </div>
  </div>
  <div class="relative z-10"><slot /></div>
</div>
